<div class="filter-tags">

</div>
<app-accordion [name]="'Price'" [state]="state">
  <input class="price" type="number" placeholder="From"> - <input class="price" type="number" placeholder="To">$
</app-accordion>
<ng-container class="accordion" *ngFor="let item of filterData">
  <app-accordion [name]="item.label" [state]="item.label === 'Manufacturer' || item.label === 'OS'">
      <label *ngFor="let value of item.value; let i = index">
        <input [value]="value" name="{{value}}" #model (click)="filtersValue(value, item.label, model)" type="checkbox">
        {{value}}
      </label>
  </app-accordion>
</ng-container>
